  /*Started  Services*/
  /*Style Body tab services*/
  a:hover{
      text-decoration: none;
  }
  /*Button tab services*/
  tr>td>button>a>div{
    margin: 10px 10px;
    text-align: center;
    color:red;
    width:100%;
    height: 100%;
    font-size: xx-large;
    position:relative;
    animation: ddd 1.5s linear 1s infinite alternate forwards ;
  }
  @keyframes ddd{
            0%{ background-color: rgb(0, 0, 0);top: 0;left: 0;}
            25%{ background-color: rgb(77, 75, 75);top:0; left: 5px;}
            50%{background-color: rgb(156, 154, 154);left:5px; top:5px;}
            75%{background-color: rgb(201, 201, 202);top:5px;left: 0;}
            100%{background-color:rgb(255, 255, 255);left: 0; top: 0px;}
        }
  /*Style body icon back tab services1,2,3,all*/
  #a:hover{
    width:9%;
  }

  /*img tab all services*/
  #li>a:hover,#li>a>img:hover{
    width: 100%;
    height: 100%;
    color: tomato;
    font-size: xx-large;
  }
  #li>a>img{
    border-radius:50%;
  }
  
  /*Started  Contact*/
  /*lam hien chu phan body*/
section{
  color: black;
  font-size: larger;
  font-weight: bold;
}
/*style form*/
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
label{
display: inline-block;
width: 15%;
}
input[type=email],input[type=tel]{
width: 70%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=date]{
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}